body {
    background-color: rgb(254, 157, 254);
}

nav {
    background-color: rgb(253, 136, 193);          /* navbar color */
    padding: 1rem;
}

nav, ul {
    display: flex;
    gap: 34px;                /* gap between list items */
}

nav, li {
    list-style-type: none;    /* remove bullets */
}

